<div class="city" fxLayout="column">
    <nav mat-tab-nav-bar backgroundColor="primary" class="mat-elevation-z4">
        <a mat-tab-link *ngFor="let layout of layoutNames"
           (click)="selectedLayout$.next(layout)"
           [active]="(selectedLayout$ | async) === layout">{{ layout }}</a>
    </nav>
    <mat-sidenav-container fxFlex="1 0 auto">
        <mat-sidenav #commits class="commits-sidenav">
            <uml-add-commits [commits]="commits$ | async"
                             [loaded]="loadedCommits$ | async"
                             (load)="loadCommitState($event)"></uml-add-commits>
        </mat-sidenav>
        <mat-sidenav [opened]="true" position="end" mode="side" class="tree-sidenav">
            <mat-tab-group class="tree-tab-group">
                <mat-tab label="Структура">
                    <mat-form-field>
                        <mat-label>Корневая папка</mat-label>
                        <mat-select [value]="sourceRoot$ | async" (selectionChange)="selectSourceRoot($event.value)">
                            <mat-option [value]="''">Не группировать</mat-option>
                            <mat-option *ngFor="let root of sourceRoots$ | async" [value]="root">{{root}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <uml-tree-visualizer (select)="selectNodes($event)"
                                         [selected]="selectedNodes$ | async"
                                         [data]="treeItems$ | async"></uml-tree-visualizer>
                </mat-tab>
                <mat-tab label="Авторы">
<!--                    <uml-authors-list [authors]="authors$ | async"-->
<!--                                      [selected]="selectedAuthors$ | async"-->
<!--                                      (select)="selectAuthors($event)"-->
<!--                    ></uml-authors-list>-->
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav>
        <mat-sidenav-content>
            <uml-canvas-visualizer [hierarchy]="hierarchy$ | async"
                                   [selected]="selectedNodes$ | async"
                                   [layoutName]="selectedLayout$ | async"></uml-canvas-visualizer>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <mat-toolbar color="primary" class="footer">
        <button mat-icon-button (click)="commits.toggle()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-chip-list [multiple]="false">
            <mat-chip color="accent"
                      *ngFor="let commit of loadedCommits$ | async"
                      (click)="selectCommit(commit)"
                      [selected]="(selectedCommit$ | async) === commit.name"
                      [selectable]="false">{{ commit.date | date : "dd-MM-yyyy" }}</mat-chip>
        </mat-chip-list>
    </mat-toolbar>
</div>