<div class="city" fxLayout="column">
    <mat-toolbar fxFlex="none" color="primary" class="mat-elevation-z6">
        <button mat-icon-button (click)="commits.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <nav mat-tab-nav-bar backgroundColor="primary" class="mat-elevation-z4">
        <a mat-tab-link *ngFor="let layout of layoutNames"
           (click)="selectedLayout$.next(layout)"
           [active]="(selectedLayout$ | async) === layout">{{ layout }}</a>
    </nav>
    <mat-sidenav-container fxFlex="1 0 auto">
        <mat-sidenav #commits class="commits-sidenav">
            <uml-add-commits [commits]="commits$ | async" (load)="loadCommitState($event)"></uml-add-commits>
        </mat-sidenav>
        <mat-sidenav [opened]="true" position="end" mode="side" class="tree-sidenav">
            <div fxLayout="column" fxLayoutAlign="flex-start stretch">
<!--            <mat-form-field fxFlex="none">-->
<!--                <mat-select [value]="selectedSource$ | async" (selectionChange)="selectSource($event.value)">-->
<!--                    <mat-option *ngFor="let path of sourceRoots$ | async" [value]="path">{{path}}</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-label>Корневая папка</mat-label>-->
<!--            </mat-form-field>-->
            <uml-tree-visualizer *ngIf="treeItems$ | async as tree"
                                 [selected]="selectedNodes$ | async"
                                 [data]="tree"></uml-tree-visualizer>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <uml-canvas-visualizer *ngIf="hierarchy$ | async as hierarchy"
                                   [hierarchy]="hierarchy"
                                   [selected]="selectedNodes$ | async"
                                   [layoutName]="selectedLayout$ | async"></uml-canvas-visualizer>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <mat-toolbar color="primary" class="footer">
        <mat-chip-list [multiple]="false">
            <mat-chip color="accent"
                      *ngFor="let commit of loadedCommits$ | async"
                      (click)="selectCommit(commit)"
                      [selected]="(selectedCommit$ | async) === commit.name"
                      [selectable]="false">{{ commit.date | date : "dd-MM-yyyy" }}</mat-chip>
        </mat-chip-list>
    </mat-toolbar>
</div>