.city {
  height: 100%;
  overflow: hidden;
}

.footer::ng-deep {
  .mat-chip-list {
    width: 95%;
  }

  .mat-chip:hover {
    cursor: pointer;
  }

  .mat-chip-list-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 64px;
    width: 100%;
  }
}

.commits-sidenav {
  width: 400px;
}

.mat-tab-link {
  height: 64px;
  width: 300px;
  font-size: 20px;
}

.tree-tab-group {
  height: calc(100% - 76px);
}

.mat-sidenav.tree-sidenav {
  max-width: 30%;
  width: 600px;

  .mat-form-field {
    width: 100%;
    padding: 10px 10px 0 10px;
  }


  .tree-sidenav-content {
    height: 100%;
  }
}

:host::ng-deep {

  .tree-sidenav .mat-tab-label {
    width: 50%;
  }

  .mat-tab-body-wrapper {
    flex: 1;
  }
}

.structure-tab-content {
  height: 100%;
}

.tree-container {
  overflow-y: auto;
}

.detail-level-toggle {
  margin-left: 12px;
}

.compare-bar {
  z-index: 9;
}

.authors-checkbox {
  margin-left: 12px;
}