<!--    <mat-toolbar-row>-->
<!--        <div *ngIf="versions$ | async as versions" class="version-container">-->
<!--            <div class="version-header">{{ name$ | async }} : {{ versions[selectedVersion$ | async] }}</div>-->
<!--        </div>-->
<!--    </mat-toolbar-row>-->
<nav mat-tab-nav-bar backgroundColor="primary" class="mat-elevation-z4">
    <a mat-tab-link *ngFor="let layout of layoutTypes"
       (click)="selectedLayout.next(layout)"
       [active]="(selectedLayout | async) === layout">{{ layout }}</a>
</nav>
<div class="page-content">
    <div [umlThree]="objects | async" [visibleNodes]="selectedNodes$ | async" class="canvas"></div>
    <div class="tree">
        <div class="tree-header">
            <span class="root-path">{{ rootPath$ | async }}</span>
            <button mat-icon-button (click)="setRoot()">
                <mat-icon>redo</mat-icon>
            </button>
        </div>
        <uml-tree-visualizer [data]="treeItems$ | async" [selected]="selectedNodes$ | async"
                             (setRoot)="setRoot($event)"
                             (focus)="focusObject($event)" (select)="selectNodes($event)"></uml-tree-visualizer>
    </div>

</div>
<mat-toolbar class="version-bar" color="primary">
    <mat-slider *ngIf="versions$ | async as versions" [value]="selectedVersion$ | async"
                (valueChange)="selectVersion($event)" [thumbLabel]="true"
                [tickInterval]="1" [min]="0" [max]="versions.length - 1">
    </mat-slider>
</mat-toolbar>