<div class="main-container">
    <div *ngIf="versions$ | async as versions" class="version-container">
        <div class="version-header">{{ name$ | async }} : {{ versions[selectedVersion$ | async] }}</div>
        <mat-slider [value]="selectedVersion$ | async"
                    (valueChange)="selectVersion($event)"
                    [thumbLabel]="true"
                    [tickInterval]="1"
                    [displayWith]="versionThumb(versions)"
                    [min]="0"
                    [max]="versions.length - 1"></mat-slider>
    </div>
    <mat-button-toggle-group [formControl]="selectedLayout" aria-label="Font Style">
        <mat-button-toggle *ngFor="let layout of layoutTypes" [value]="layout">{{ layout }}</mat-button-toggle>
    </mat-button-toggle-group>
    <div [umlThree]="objects | async" [visibleNodes]="selectedNodes$ | async" class="canvas"></div>
</div>
<div class="tree-container">
    <div>
        <span class="root-path">{{ rootPath$ | async }}</span>
        <button mat-icon-button (click)="setRoot()">
            <mat-icon>redo</mat-icon>
        </button>
    </div>
    <uml-tree-visualizer [data]="treeItems$ | async"
                         [selected]="selectedNodes$ | async"
                         (setRoot)="setRoot($event)"
                         (select)="selectNodes($event)"></uml-tree-visualizer>
</div>