<mat-form-field>
    <mat-label>SourceRoot</mat-label>
    <mat-select [value]="selectedSourceRoot$ | async" (selectionChange)="selectSource($event.value)">
        <mat-option *ngFor="let root of sourceRoots$ | async" [value]="root">{{ root }}</mat-option>
    </mat-select>
</mat-form-field>
<mat-button-toggle-group [formControl]="selectedLayout" aria-label="Font Style">
    <mat-button-toggle *ngFor="let layout of layoutTypes" [value]="layout">{{ layout }}</mat-button-toggle>
</mat-button-toggle-group>
<div [umlThree]="objects | async" class="canvas"></div>
