<h1 mat-dialog-title>Добавить репозиторий</h1>
<div mat-dialog-content [formGroup]="form" fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput formControlName="url">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="form.invalid" [mat-dialog-close]="form.value" cdkFocusInitial>Ok</button>
</div>