:host {
  padding: 14px 16px;
  min-height: 48px;
  border-radius: 4px;
  min-width: 344px;
  width: fit-content;
  max-width: 33vw;
  background: rgba(0, 0, 0, 0.5);

  .element-tooltip {
    color: rgba(255, 255, 255, .7)
  }
}
