<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkScrollable>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [class.hidden]="!isNodeSatisfySearch(node)"
                   matTreeNodePadding [matTreeNodePaddingIndent]="15">
        <button class="toggle-button" mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <span [innerHTML]="highLight(node.label)"></span>
        <button mat-icon-button class="crop-button" (click)="setRoot.emit(node.item)">
            <mat-icon [inline]="true">folder</mat-icon>
        </button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
                   [class.selected-element]="node.item === selectedElement"
                   [class.hidden]="!isNodeSatisfySearch(node)"
                   matTreeNodePadding [matTreeNodePaddingIndent]="15">
        <button class="toggle-button" mat-icon-button disabled></button>

        <span [innerHTML]="highLight(node.label)"></span>
        <button mat-icon-button class="crop-button" (click)="details.emit(node.item)">
            <mat-icon [inline]="true">description</mat-icon>
        </button>
    </mat-tree-node>
</mat-tree>