.toggle-button {
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.crop-button {
  line-height: 16px;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.mat-tree-node {
  min-height: 30px;

}

.mat-tree-node.hidden {
  display: none;
}

.mat-tree {
  min-width: 300px;
  max-width: 400px;
}