<mat-form-field>
    <mat-label>Версия</mat-label>
    <mat-select [formControl]="selectedVersion">
        <mat-option *ngFor="let ver of versions | async" [value]="ver">{{ ver }}</mat-option>
    </mat-select>
</mat-form-field>
<mat-button-toggle-group [formControl]="selectedLayout" aria-label="Font Style">
    <mat-button-toggle *ngFor="let layout of layoutTypes" [value]="layout">{{ layout }}</mat-button-toggle>
</mat-button-toggle-group>
<div [umlThree]="objects | async" class="canvas"></div>
