<mat-card>
    <mat-card-title-group>
        <mat-card-title class="element-name">{{ element.name }}</mat-card-title>
        <mat-card-subtitle class="type-subtitle">{{ types[element.type] }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content fxLayout="column" fxLayoutAlign="flex-start">
        <div fxLayout="row wrap">
            <uml-element-info-property icon="folder" label="Пакет">
                {{ element.parentPackage }}
            </uml-element-info-property>
            <uml-element-info-property *ngIf="element.type === 'CLASS'" icon="home" label="Базовый класс">
                <uml-element-link [hasLink]="!!links[element.superClass]"
                                  [name]="links[element.superClass] || element.superClass"
                                  (link)="link.emit(element.superClass)"></uml-element-link>
            </uml-element-info-property>
            <uml-element-info-property *ngIf="element.type === 'CLASS' && element.descendant" icon="control_point_duplicate" label="Наследник">
                <uml-element-link [hasLink]="true" [name]="links[element.descendant]"
                                  (link)="link.emit(element.descendant)"></uml-element-link>
            </uml-element-info-property>
            <uml-element-info-property *ngIf="(element.type === 'CLASS' || element.type === 'INTERFACE') && element.implementedTypes && element.implementedTypes.length"
                                       icon="widgets"
                                       [label]="element.type === 'CLASS' ? 'Реализуемые интерфейсы' : 'Расширяемые интерфейсы'">
                <uml-element-link *ngFor="let impl of element.implementedTypes"
                                  [hasLink]="!!links[impl]"
                                  [name]="links[impl] || impl"
                                  (link)="link.emit(impl)"></uml-element-link>
            </uml-element-info-property>
            <uml-element-info-property *ngIf="element.type === 'INTERFACE' && element.implementers && element.implementers.length"
                                       icon="extension"
                                       label="Реализуют">
                <uml-element-link *ngFor="let impl of element.implementers"
                                  [hasLink]="true" [name]="links[impl] || impl" (link)="link.emit(impl)"></uml-element-link>
            </uml-element-info-property>
        </div>
        <!--        <div *ngIf="element.implementators && element.implementators.length">-->
        <!--            <span>Реализуется в </span>-->
        <!--            <ng-container *ngFor="let impl of element.implementators; let last = last">-->
        <!--                <span class="linked-name"-->
        <!--                      (click)="link.emit(impl.link)">{{impl.name}}{{last ? '' : ', '}}</span>-->
        <!--            </ng-container>-->
        <!--        </div>-->
        <div fxLayout="row wrap" fxLayoutGap="5px">
            <ng-container *ngIf="element.type === 'CLASS' || element.type === 'INTERFACE'">
                <div class="count-property">
                    <div class="count-label">Методов</div>
                    <div class="count-value">{{ element.methodsCount }}</div>
                </div>
                <div class="count-property">
                    <div class="count-label">Полей</div>
                    <div class="count-value">{{ element.attributesCount }}</div>
                </div>
            </ng-container>
            <div *ngIf="element.type === 'ENUM'" class="count-property">
                <div class="count-label">Значений</div>
                <div class="count-value">{{ element.numberOfConstants }}</div>
            </div>
            <div class="count-property">
                <div class="count-label">Строк кода</div>
                <div class="count-value">{{ element.numberOfLines }}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>