<div class="add-commit-container" fxLayout="column">
    <h3 class="add-commit-title">Добавить состояние</h3>
    <mat-divider></mat-divider>
    <cdk-virtual-scroll-viewport fxFlex="1 0 auto" class="list-container" [itemSize]="itemSize">
        <mat-action-list>
            <ng-container *cdkVirtualFor="let group of grouped">
                <div mat-subheader>{{group[0] | date : "longDate"}}</div>
                <button *ngFor="let commit of group[1]"
                        [disabled]="loaded.includes(commit) || loading.includes(commit)" mat-list-item
                        (click)="load.emit(commit)">
                    <h3 matLine>{{ commit.shortMessage }}</h3>
                    <p matLine>{{ commit.author.name }}</p>
                </button>
            </ng-container>
        </mat-action-list>
    </cdk-virtual-scroll-viewport>
</div>